<% if(Setting.plugin_enhanced_queries['enable'] == 'true') %>
<div id="e_q_mine_issues" class="raised">
<h3><%= l(:mine_issues) %></h3>

<% if @project %>
<% pr="/projects/"+@project.identifier.to_s %>
<% else %>
<% pr="" %>
<% end %>
<ul>
<li>
<a href="<%= pr %>/issues?set_filter=1&f%5B%5D=status_id&op%5Bstatus_id%5D=o&f%5B%5D=assigned_to_id&op%5Bassigned_to_id%5D=%3D&v%5Bassigned_to_id%5D%5B%5D=me&f%5B%5D=&c%5B%5D=tracker&c%5B%5D=subject&c%5B%5D=author&c%5B%5D=estimated_hours&c%5B%5D=start_date&c%5B%5D=due_date&c%5B%5D=done_ratio&c%5B%5D=fixed_version&group_by=status"><%= l(:label_assigned_to_me) %></a>
<% if(Setting.plugin_enhanced_queries['show_count'] == 'true') %>
<span class="count">(<%= IssuesHelper.get_total_assigned_me_issues(@project) %>)</span>
<% end %>
</li>
<li>
<a href="<%= pr %>/issues?set_filter=1&f%5B%5D=status_id&op%5Bstatus_id%5D=o&f%5B%5D=watcher_id&op%5Bwatcher_id%5D=%3D&v%5Bwatcher_id%5D%5B%5D=me&f%5B%5D=&c%5B%5D=tracker&c%5B%5D=subject&c%5B%5D=assigned_to&c%5B%5D=estimated_hours&c%5B%5D=due_date&c%5B%5D=done_ratio&c%5B%5D=updated_on&group_by=status" ><%= l(:label_i_am_watching) %></a>
<% if(Setting.plugin_enhanced_queries['show_count'] == 'true') %>
<span class="count">(<%= IssuesHelper.get_total_i_am_watching(@project) %>)</span>
<% end %>
</li>
<li>
<a href="<%= pr %>/issues?set_filter=1&f%5B%5D=status_id&op%5Bstatus_id%5D=o&f%5B%5D=author_id&op%5Bauthor_id%5D=%3D&v%5Bauthor_id%5D%5B%5D=me&f%5B%5D=&c%5B%5D=tracker&c%5B%5D=subject&c%5B%5D=assigned_to&c%5B%5D=estimated_hours&c%5B%5D=due_date&c%5B%5D=done_ratio&c%5B%5D=updated_on&group_by=status"><%= l(:label_i_created) %></a>
<% if(Setting.plugin_enhanced_queries['show_count'] == 'true') %>
<span class="count">(<%= IssuesHelper.get_total_i_created(@project) %>)</span>
<% end %>
</li>
</ul>
</div>
<% end %>