<% if(Setting.plugin_enhanced_queries['enable'] == 'true') %>
	<% if @project %>
		<h3><%= l(:queries_by_roles) %></h3>

	
		<% roles=IssuesHelper.render_queries_by_role(@project) %>
		<% roles_id=nil %>
		
		<ul>
		<% for r in roles %>
			<% if roles_id!=r.roles_id%>
				<% if roles_id!=nil %>
					</ul></li>
				<% end %>
				
				<li><b><%= link_to_filter r.roles_name, [[ :assigned_to_role, '=',  r.roles_id]], :project_id => @project.identifier %></b>
					<% if Setting.plugin_enhanced_queries['show_count']%>
						<span class="count">(<%= h IssuesHelper.get_total_issues_on_assigned_to_role(r.roles_id, @project) %>)</span> 
					<% end %>			
				<ul>
				<li>
					<nobr><%= link_to_filter r.user_name, [[ :status_id, 'o', '44444'], [ :assigned_to_id, '=',  r.user_id]], {:project_id => @project.identifier, :group_by => "status"} %></nobr>
					<% if Setting.plugin_enhanced_queries['show_count']%> <span class="count">(<%= h IssuesHelper.get_total_issues_on_assigned_to_id(r.user_id, @project) %>)</span> <% end %>
				</li>
				<% roles_id=r.roles_id %> 
			<% else %>
				<li><nobr><%= link_to_filter r.user_name, [[ :status_id, 'o', '44444'], [ :assigned_to_id, '=',  r.user_id]], {:project_id => @project.identifier, :group_by => "status"} %></nobr>
				<% if Setting.plugin_enhanced_queries['show_count']%> <span class="count">(<%= h IssuesHelper.get_total_issues_on_assigned_to_id(r.user_id, @project) %>)</span> <% end %>
				</li>
			<% end %>
		<% end %>
		</ul></li>
		</ul>
	<% end %>
<% end %>


